<div class="bg-cg-bg min-h-screen p-0">
  <div class="mx-0 flex min-h-screen items-center">
    <div class="bg-cg-panel mx-auto w-full rounded-lg pb-3 max-sm:rounded-none">
      <app-header
        [score]="score"
        [questions]="[currentIndex + 1, questions.length]"
      ></app-header>
      <app-viewer></app-viewer>
      <app-alternatives-viewer></app-alternatives-viewer>
      @if (!showBtnResults) {
        <div
          class="m-0 flex justify-center"
          [ngClass]="!showBtnNext ? 'hidden' : ''"
        >
          <button
            class="bg-cg-primary text-cg-text hover:bg-cg-primary-hover flex h-12 w-40 items-center justify-around rounded-lg border-0 p-2 text-lg disabled:cursor-not-allowed"
            (click)="nextQuestion()"
            [disabled]="!showBtnNext"
          >
            {{ "card.next" | translate }}
          </button>
        </div>
      }
      @if (showBtnResults) {
        <div class="m-0 flex justify-center">
          <button
            class="bg-cg-primary text-cg-text hover:bg-cg-primary-hover flex h-12 w-44 items-center justify-around rounded-lg border-0 p-2 text-lg"
            (click)="goScoreboard()"
            [disabled]="!showBtnResults"
          >
            {{ "card.seeResults" | translate }}
            <span aria-hidden="true">→</span>
          </button>
        </div>
      }
    </div>
  </div>
</div>
