.card {
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}
.btn-next {
  width: 10rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-next:hover {
  background-color: var(--primary-hover);
}
.hidden{
  visibility: hidden;
}
@media(max-width:576px){
  .card{
    border-radius: 0;
  }
}