.card{
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}
.btn-next{
    width: 10rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.btn-next:hover{
    background-color: var(--primary-hover);
}