<div class="container-fluid my-3 mx-0 p-0">
  <div class="row justify-content-center gx-1 gy-3">
    <div
      class="col-sm-12 col-md-6 text-center p-0"
      *ngFor="let i = index; let alternative; of: alternatives"
    >
      <button
        class="btn btn-alternative"
        (click)="rateQuestion(i)"
        [ngClass]="{
          'btn-correct': colors[i] == 'c',
          'btn-wrong': colors[i] == 'w',
          'btn-disabled': colors[i] == 'b'
        }"
        [disabled]="disableButtons"
      >
        {{ alternative.name }}
      </button>
    </div>
  </div>
</div>
