.btn-alternative {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.btn-alternative:hover {
  background-color: var(--primary-hover);
}
.btn-disabled{
  background-color: var(--primary-hover);
}
.btn-correct,.btn-correct:hover {
  background-color: var(--confirmation-color);
  color: black;
}
.btn-wrong,.btn-wrong:hover {
  background-color: var(--warning-color);
  color: var(--aux-text-color);
}
@media (min-width: 768px) {
  .btn-alternative {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .btn-alternative {
    width: 55%;
  }
}
