<div
  class="border-cg-accent my-3 flex h-fit cursor-pointer items-center justify-center rounded-lg border-4 text-center shadow-[0_0_15px_#f9be03]"
  (click)="goMainMenu()"
>
  <img
    src="../../../assets/logo/cg_logo.png"
    alt="country guesser logo"
    class="inline-block w-3/10 object-contain p-1.5"
  />
  <div class="ml-3 inline-block w-fit">
    <h1 class="text-cg-accent my-2 text-4xl font-bold">Country</h1>
    <h1 class="text-cg-accent my-2 text-4xl font-bold">Guesser</h1>
  </div>
</div>
