<div
  class="bg-cg-primary flex h-20 items-center rounded-t-lg px-0 py-2 max-sm:rounded-none"
>
  <div
    class="m-0 grid w-full grid-cols-3 items-center justify-items-center gap-2"
  >
    <div
      class="text-cg-text flex items-center justify-center p-0 text-center text-lg font-bold sm:p-2 lg:text-2xl"
    >
      <p class="m-0">
        {{ questions[0] }} {{ "card.of" | translate }} {{ questions[1] }}
      </p>
    </div>
    <div
      class="text-cg-text flex items-center justify-center p-0 text-center text-lg font-bold sm:p-2 lg:text-2xl"
    >
      @if (showTimer) {
        <div
          class="flex h-14 w-14 items-center justify-center rounded-full border-[0.3rem] border-red-600 text-2xl lg:h-16 lg:w-16 lg:text-4xl"
        >
          <p class="m-0">{{ timeRemaining }}</p>
        </div>
      }
      @if (!showTimer) {
        <div class="text-cg-accent text-center">
          <p class="m-0">{{ message | translate }}</p>
        </div>
      }
    </div>
    <div
      class="text-cg-text flex items-center justify-center p-0 text-center text-lg font-bold sm:p-2 lg:text-2xl"
    >
      <p class="m-0">{{ "card.score" | translate }} {{ ": " + score }}</p>
    </div>
  </div>
</div>
