<div class="relative inline-block rounded-lg">
  <select
    #selectLanguages
    class="bg-cg-primary text-cg-text focus:border-cg-accent mt-2 h-12 w-40 cursor-pointer rounded-lg border border-slate-400 px-3 text-lg outline-none"
    [value]="activeLanguage"
    (change)="changeLanguage(selectLanguages.value)"
  >
    @for (language of languages; track $index) {
      <option
        class="bg-cg-primary text-cg-text cursor-pointer"
        [value]="language.code"
      >
        {{ language.emoji + " " }}{{ language.name | translate }}
      </option>
    }
  </select>
</div>
