/* .trigger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  padding-right: 0.5rem;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #0b3c5de4;
  color: white;
  width: 10rem;
  height: 3rem;
  border-radius: var(--border-radius);
  font-size: 16px;
  border: none;
  cursor: pointer;
  word-spacing:0.5rem;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.dropdown-list {
  padding: 0;
}
.dropdown-element {
  list-style: none;
}
.dropdown-link {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  word-spacing:0.5rem;
}
.dropdown-link:hover {
  background-color: var(--confirmation-color);
  color: var(--warning-color);
}
.dropdown-content--visible {
  display: block;
}
.btn--half-rounded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
