<div class="container p-0 h-md-100">
  <div class="row m-0 align-content-center h-100">
    <div class="container card px-0 pb-3">
      <div class="row justify-content-center m-0">
        <div class="col-12 col-md-6 p-0">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="row h-fit justify-content-end w-100">
              <div class="col-12 col-lg-10 p-0">
                <p class="title text-center">
                  {{ "scoreboard.yourScore" | translate }}
                </p>
              </div>
              <div class="col-12 col-lg-10 p-0">
                <div class="spinner-container my-4">
                  <div class="spinner-title text-center">
                    <div class="card-congrats">{{ message | translate }}</div>
                    <div>
                      <p class="rating mt-5 mb-2">
                        {{ rating[0] + "/" + rating[1] }}
                      </p>
                      <p class="points my-1">
                        {{ points }} {{ "scoreboard.points" | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="spinner">
                    <div class="circle-container">
                      <mat-progress-spinner
                        class="circle-background"
                        [color]="backgroundColor"
                        [mode]="mode"
                        [value]="100"
                        [diameter]="diameter"
                        [strokeWidth]="strokeWidth"
                      >
                      </mat-progress-spinner>
                      <mat-progress-spinner
                        class="circle"
                        [color]="color"
                        [mode]="mode"
                        [value]="value"
                        [diameter]="diameter"
                        [strokeWidth]="strokeWidth"
                      >
                      </mat-progress-spinner>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-10 mt-4 p-0">
                <div class="row justify-content-center m-0">
                  <button class="btn btn-again" (click)="newGame()">
                    <mat-icon fontIcon="rotate_right" class="icon"></mat-icon>
                    {{ "scoreboard.playAgain" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
          <div class="row m-0">
            <div class="col-12 p-0">
              <div class="row justify-content-start m-0">
                <div class="col-12 col-lg-10 p-0">
                  <p class="title text-center">
                    {{ "scoreboard.yourAnswers" | translate }}
                  </p>
                </div>
                <div
                  class="col-12 col-lg-10 scroll-window p-0 py-2 scrollbar-custom"
                >
                  <ng-container *ngFor="let i = index; let answer; of: answers">
                    <app-answer-card
                      [answer]="answer"
                      [id]="i + 1"
                    ></app-answer-card>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
