<div class="container card px-0 pb-3">
  <div class="row p-0 m-0">
    <div class="col-12 col-md-6 p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
          <p class="title text-center">Your score</p>
        </div>
        <div class="col-12 p-0 m-0">
          <div class="spinner-container my-4">
            <div class="spinner-title text-center">
              <div class="card-congrats">{{ message }}</div>
              <div>
                <p class="rating mt-5 mb-2">
                  {{ rating[0] + "/" + rating[1] }}
                </p>
                <p class="points my-1">{{ points }} points</p>
              </div>
            </div>
            <div class="spinner">
              <mat-progress-spinner
                [color]="color"
                [mode]="mode"
                [value]="value"
                [diameter]="diameter"
                [strokeWidth]="strokeWidth"
              >
              </mat-progress-spinner>
            </div>
          </div>
        </div>
        <div class="col-12 p-0 m-0 mt-4">
          <div class="row m-0 p-0 justify-content-center">
            <button class="btn btn-again">
              <mat-icon fontIcon="rotate_right" class="icon"></mat-icon>
              Play again
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
          <p class="title text-center">Your answers</p>
        </div>
        <div class="col-12 p-0 m-0"></div>
      </div>
    </div>
  </div>
</div>
