.capital-number {
  font-size: 3rem;
  color: var(--text-color);
}
.text-correct {
  color: var(--confirmation-color);
}
.text-wrong {
  color: var(--warning-color);
}
.text-correction {
  color: var(--aux-text-color);
}
.text-answer {
  font-weight: bold;
}
.element-container {
  height: 6rem;
  width: 90%;
}
.card-text {
  width: fit-content;
}
.card-body {
  position: relative;
}
.time {
  color: white;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}
