<div class="flex items-center justify-center rounded-lg bg-white/10 p-2">
  <div class="grid w-full grid-cols-12">
    <div class="col-span-2 flex items-center justify-center text-center">
      <p class="text-cg-text text-5xl">{{ id }}</p>
    </div>
    <div class="col-span-9">
      <div class="relative p-4">
        <div class="h-24 w-full">
          @if (gameMode === "maps") {
            <app-map
              [id]="id"
              [enableZoom]="false"
              [height]="'100%'"
              [continentName]="answer.country.continent"
              [countryCode]="answer.country.code"
            ></app-map>
          }
          @if (gameMode === "flags") {
            <app-flag [flagUrl]="answer.country.flag" [id]="id"></app-flag>
          }
        </div>
        <p
          class="m-1 w-fit font-bold"
          [ngClass]="answer.isCorrect() ? 'text-cg-success' : 'text-cg-danger'"
        >
          {{ "scoreboard.yourAnswer" | translate }}: {{ answer.answer.name }}
        </p>
        @if (!answer.isCorrect()) {
          <p class="text-cg-accent m-1 w-fit font-bold">
            {{ "scoreboard.correctAnswer" | translate }}:
            {{ answer.country.name }}
          </p>
        }
        <span
          class="bg-cg-danger text-cg-text absolute top-1 right-1 rounded-md p-1"
          >{{ timeClock(time) }}</span
        >
      </div>
    </div>
  </div>
</div>
