// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Paleta de colores personalizada
$primary-palette: (
  50: #ddf6f1,
  100: #abe8d9,
  200: #70d9c1,
  300: #02c9a8,
  400: #00bc95,
  500: #00ad83,
  600: #009f76,
  700: #008e65,
  800: #007e57,
  900: #00603a,
  A100: #f63340,
  A200: #e2303c,
  A400: #d32c37,
  A700: #b32630,
  contrast: (
    50: #051f2f,
    100: #07283d,
    200: #082f48,
    300: #0b3c5d,
    400: #0e4b73,
    500: #105786,
    600: #13669d,
    700: #1572b0,
    800: #328bc3,
    900: #0078c3,
    A100: #f5d771,
    A200: #f9be03,
    A400: #deac08,
    A700: #b58b03,
  ),
);

$warning-palette: (
  50: #851a21,
  100: #a1242c,
  200: #c22d37,
  300: #d32631,
  400: #f63340,
  500: #ec1a28,
  600: #ee1120,
  700: #f60717,
  800: #fa0515,
  900: #ff0000,
  A100: #f5d771,
  A200: #f9be03,
  A400: #deac08,
  A700: #b58b03,
  contrast: (
    50: #051f2f,
    100: #07283d,
    200: #082f48,
    300: #0b3c5d,
    400: #0e4b73,
    500: #105786,
    600: #13669d,
    700: #1572b0,
    800: #328bc3,
    900: #0078c3,
    A100: #f5d771,
    A200: #f9be03,
    A400: #deac08,
    A700: #b58b03,
  ),
);

$countryguesser-primary: mat.define-palette($primary-palette, 300, 200, 500);

$countryguesser-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$countryguesser-warn: mat.define-palette($warning-palette, 400, 300, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$countryguesser-theme: mat.define-light-theme(
  (
    color: (
      primary: $countryguesser-primary,
      accent: $countryguesser-accent,
      warn: $countryguesser-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($countryguesser-theme);
