@import "tailwindcss";

@theme {
  --color-cg-bg: #7edcd5;
  --color-cg-primary: #328bc3;
  --color-cg-primary-hover: #0078c3;
  --color-cg-panel: #0b3c5d;
  --color-cg-danger: #f63340;
  --color-cg-success: #02c9a8;
  --color-cg-text: #e0dce4;
  --color-cg-accent: #f9be03;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jqvmap-zoomin,
.jqvmap-zoomout {
  box-sizing: unset;
}
