/* You can add global styles to this file, and also import other style files */
:root {
    --border-radius: 0.8rem;
    
    --background-color: #7EDCD5;
    --primary-color: #328BC3;
    --secondary-color: #0B3C5D;
    --warning-color: #F63340;
    --confirmation-color: #02C9A8;
    --text-color: #E0DCE4;
    --aux-text-color: #F9BE03;
}
.text-center{
    text-align: center;
}