/* You can add global styles to this file, and also import other style files */
:root {
  --border-radius: 0.8rem;

  --background-color: #7edcd5;
  --primary-color: #328bc3;
  --primary-hover:#0078c3;
  --secondary-color: #0b3c5d;
  --warning-color: #f63340;
  --confirmation-color: #02c9a8;
  --text-color: #e0dce4;
  --aux-text-color: #f9be03;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: var(--background-color);
}
.text-center {
  text-align: center;
}
.btn {
  font-size: larger;
  border: 0px;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 15px;
  font-style: bold;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
