<div class="container p-0 h-100">
  <div class="row align-content-center h-100 m-0">
    <div class="col map p-0">
      <div class="map-container">
        <app-map
          [height]="'100%'"
          [continentName]="'world_en'"
          [countryCode]="'fj'"
          [showTooltip]="true"
          [enableZoom]="false"
          [colors]="this.colors"
          [id]="98989898"
        ></app-map>
      </div>
      <div
        class="row card-container w-100 m-0 h-100 justify-content-center align-content-center"
      >
        <div
          class="col-10 col-sm-11 p-0 pb-1 pb-md-0 d-flex justify-content-end"
        >
          <app-language-selector></app-language-selector>
        </div>
        <div class="col card">
          <div class="row mx-4 justify-content-center">
            <app-app-logo></app-app-logo>
            <div class="col-12">
              <h3 class="mt-1 mb-2">
                {{ "main-menu.mode.title" | translate }}
              </h3>
              <mat-form-field>
                <mat-select [value]="preferences.gameMode" #gameMode>
                  <mat-option
                    *ngFor="let option of gameModeSelectOptions"
                    [value]="option.value"
                    >{{ option.text | translate }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <h3 class="mt-1 mb-2">
                {{ "main-menu.continent.title" | translate }}
              </h3>
              <mat-form-field>
                <mat-select [value]="preferences.continent" #continent>
                  <mat-option
                    *ngFor="let option of continentSelectOptions"
                    [value]="option.value"
                    >{{ option.text | translate }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <h3 class="mt-1 mb-2">
                {{ "main-menu.number-questions" | translate }}
              </h3>
              <mat-button-toggle-group
                [value]="preferences.numberQuestions"
                #questions="matButtonToggleGroup"
              >
                <mat-button-toggle
                  *ngFor="let option of questionsSelectOptions"
                  [value]="option.value"
                  >{{ option.text }}</mat-button-toggle
                >
                <mat-button-toggle [value]="500"
                  ><p class="button-toggle-text">Max</p></mat-button-toggle
                >
              </mat-button-toggle-group>
            </div>
            <div class="col-12 text-center">
              <button
                class="my-3 btn-start"
                (click)="
                  startGame(gameMode.value, continent.value, questions.value)
                "
              >
                {{ "main-menu.start" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
